.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-Section {
  height: 100vh;
  position: relative;
  z-index: 1;
}
.Menu-Section {
  height: fit-content;
  position: relative;
  padding-bottom: 5vw;
  width: 100vw;
  text-align: center;
}

.App-SectionC {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

}

.mainbackground-image {
  /* Set the desired width and height for the background image */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.mainbackground-image.two {
  width: 50%;
}


.content-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.center-logo{
  background-color: white;
  font-size: clamp(38px, 3.8vw, 1000px);
  padding-right: clamp(15px, 1vw, 1000px);
  padding-left: clamp(15px, 1vw, 1000px);
  padding-top: clamp(1px, .2vw, 1000px);
  padding-bottom: clamp(1px, .5vw, 1000px);
  font-weight: bold;
}
.center-logo.menu{
  font-size: clamp(50px, 5vw, 1000px);
  background-color: transparent;
  text-decoration: underline;
  color: white;
}
.center-logo.sub{
  font-size: clamp(30px, 4vw, 1000px);
  padding-top: 3vw;
  background-color: transparent;
  color: black;
  margin: 0;
  text-align: center;
}

.center-sublogo{
  color: white;
  width: fit-content;
  font-size: clamp(25px, 2.5vw, 1000px);
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.menubutton-section{
  width: 80vw;
  min-width: 420px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.menubutton{
  font-size: clamp(28px, 2.8vw, 1000px);
  font-weight: bold;
  color: white;
  border: 5px solid white;
  background-color: transparent;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: clamp(1px, 2vw, 1000px);
  width: 30%;
  height: 10vh;
}
.menubutton:hover{
  border: 5px solid black;
}
.menubutton:focus{
  border: 8px solid black;
  border-style: double;
}

.menu-item{
    /* Consider setting bottom border */
  font-size: clamp(14px, 2.5vw, 1000px);
  width: 40vw;
  height: calc(6vw + 30px);
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu-item-name{
  font-weight: bold;
  width: 50%;
  text-align: left;
}
.menu-item-price{
  width: 30%;
  text-align: left;
  padding-left: calc(15px - 1vw);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
